<div class="container">
  <div class="row">

    <div class="col-md-6">

      <h4>User Details</h4>
      <div class="card">
        <div class="card-header">
          <b><span>Username: </span><%= @user["username"] %></b>
          <div class="mt-2">
            <%= image_tag "https://i.pravatar.cc", style: "width: 300px; height: 300px" %>
          </div>
        </div>
        <div class="card-body">
          <b>Email</b>
          <div class="mb-2"><%= @user["email"] %></div>
          <b>First name</b>
          <div class="mb-2"><%= @user["name"]["firstname"] %></div>
          <b>Last name</b>
          <div class="mb-2"><%= @user["name"]["lastname"] %></div>
          <b>Phone</b>
          <div class="mb-2"><%= @user["phone"] %></div>
        </div>
        <div class="card-footer">
          <%= link_to "Prev User", LoadUserDetails_path(params[:id].to_i-11), class: "btn btn-danger" %>
          <%= link_to "Next User", LoadUserDetails_path(params[:id].to_i+1), class: "btn btn-danger" %>
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="address-toggle"/>
            <label id="lblShowHide" class="form-check-label" for="address">Show Address</label>
          </div>
        </div>
      </div>

    </div>

    <div id="address-details" class="col-md-6 d-none">
      <h4 class="mt-4">Address Details</h4>
      <div class="card">
        <div class="card-header">
          <b><span>City: </span><%= @user["address"]["city"] %></b>
        </div>
        <div class="card-body">
          <b>Street</b>
          <div class="mb-2"><%= @user["address"]["number"].to_s + " " + @user["address"]["street"] %></div>
          <b>Zip Code</b>
          <div class="mb-2"><%= @user["address"]["zipcode"] %></div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<script>-->
<!--    // to do it without jQuery - we must do below and use var, or turbo-rails has a fit-->
<!--    var checkbox = document.getElementById('address');-->

<!--    checkbox.addEventListener('change', () => {-->

<!--        let addressDetails = document.getElementById('address-details');-->
<!--        let lbl = document.getElementById("lblShowHide")-->

<!--        if (checkbox.checked) {-->
<!--            addressDetails.classList.remove("d-none")-->
<!--            lbl.innerHTML = "Hide Address"-->
<!--        } else {-->
<!--            addressDetails.classList.add("d-none")-->
<!--            lbl.innerHTML = "Show Address"-->
<!--        }-->
<!--    });-->
<!--</script>-->